.header {
  &__overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: $VeryDarkBlue;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease, visibility 0.25s ease;
    z-index: 98;
  }

  &__overlay--active {
    opacity: 0.9;
    visibility: visible;
  }

  &__content {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 99;
  }

  &__logo {
    path {
      transition: fill 0.25s ease;
    }

    circle {
      transition: fill 0.25s ease;
    }
  }

  &__logo--white {
    g > path {
      fill: $White;
    }

    g > circle {
      fill: $White;
    }

    g > g > path {
      fill: hsla(229, 31%, 21%, 0.9);
    }
  }

  &__mobile-menu {
    display: block;
    cursor: pointer;
  }

  &__mobile-menu--active {
    .header__bar {
      background: $White;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(8.3px);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateY(-8.3px);
      }
    }
  }

  &__bar {
    display: block;
    width: 22px;
    height: 3px;
    margin: 3px auto;
    background: $VeryDarkBlue;
    transition: background-color 0.25s ease, transform 0.25s ease, opacity 0.25s ease;
  }

  &__navigation {
    position: absolute;
    background: transparent;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    top: 100px;
    transition: visibility 0.25s ease, opacity 0.25s ease;
    text-align: center;
  }

  &__nav-link {
    font-size: rem(21);
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: $White;
    font-weight: 300;
    border-top: 1px solid rgba(255, 255, 255, 0.174);
    width: 100%;
    letter-spacing: 3px;
    padding: rem(20);

    &:nth-child(3) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.174);
    }
  }

  &__nav-link.login-button {
    border: 2px solid $White;
    font-size: rem(20);
    font-weight: 400;
    padding: em(9);
    margin-top: rem(25);
    border-radius: 6px;
    cursor: pointer;
    transition: color 0.25s ease, background-color 0.25s ease;

    &:hover {
      color: black;
      background: $White;
    }
  }

  &__navigation--active {
    visibility: visible;
    opacity: 1;
  }
}

@media screen and (min-width: 730px) {
  .header {
    &__overlay {
      display: none;
    }

    &__logo--white {
      g > path {
        fill: #242a45;
      }

      g > circle {
        fill: #5267df;
      }

      g > g > path {
        fill: #fff;
      }
    }

    &__mobile-menu {
      display: none;
    }

    &__navigation {
      all: unset;
      display: flex;
      align-items: center;
    }

    &__nav-link {
      all: unset;
      color: black;
      text-transform: uppercase;
      position: static;
      letter-spacing: 2px;
      margin: 0 rem(18);
      font-size: rem(15);
      border: none;
      cursor: pointer;
      position: relative;

      &:nth-child(3) {
        border: none;
      }

      &::after {
        content: '';
        width: 100%;
        height: 2px;
        display: block;
        transform: scale(0);
        background: black;
        transition: transform 0.25s ease;
        margin-top: 2px;
        position: absolute;
      }
    }

    &__nav-link:hover::after {
      transform: scale(1);
    }

    &__nav-link.login-button {
      font-size: rem(14);
      margin: 0 0 0 rem(15);
      padding: em(10) em(28);
      font-weight: 500;
      background: $SoftRed;
      color: $White;
      border: none;
      transition: font-size 0.25s ease, padding 0.25s ease, background-color 0.25s ease;

      &:hover {
        color: $White;
        background: hsl(0, 59%, 51%);
      }

      &::after {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .header {
    &__content {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    &__nav-link {
      margin: 0 rem(22);
    }

    &__nav-link.login-button {
      padding: em(12) em(33);
      font-size: rem(15);
    }
  }
}
